<button type="button" class="btn btn-default btn-lg btn-block">Blablablabla</button>
<button type="button" class="btn btn-default btn-lg btn-block">Blablablabla</button>
<button type="button" class="btn btn-default btn-lg btn-block">Blablablabla</button>
<button type="button" class="btn btn-default btn-lg btn-block">Blablablabla</button>
<button type="button" class="btn btn-default btn-lg btn-block">Voir plus</button>